/*
colors

dark-blue title #274C5B
light-dark-blue #335B6B

green #7EB693

text color #525C60

*/

html, body {
    font-family: 'Open Sans', sans-serif;
    color: #525C60;
    font-size: 18px;
}

i {
    font-family: 'Yellowtail', cursive;
    font-style: normal;
    font-size: 2rem;
    line-height: 3.6rem;
    color: #7EB693;
}

img {
    max-width: 100%;
}

p {
    font-size: 1rem;
    line-height: 1.7777rem;
}

.bg-arrow {
    height: 40px;
    width: 40px;
    margin-left: 25px;
    background: #274C5B;
    border-radius: 100px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    line-height: 3.8888rem;
    font-size: 4.6666rem;
    font-weight: 700;
    letter-spacing: 0.36px;
    margin-bottom: 30px;
    color: #274C5B;
}

h2 {

}

h5 {

}

h6 {

}


/*----------------------------------------------------*/

.navbar {
    padding-left: 0;
    padding-right: 0;
}
.navbar-brand{
    margin-right: 120px;
}

.section-1 {
    background-image: url("./img/bg_sec_1.jpg");
    background-color: #f2f0f1;
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;

    padding: 220px 0 250px;
}

.bg-basket {
    height: 60px;
    width: 60px;
    background: #274C5B;
    border-radius: 100px;
}

.border {
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    height: 70px;
    max-width: 100%;
    padding-left: 10px;
}

.d-f {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

/*------------------Section-1----------------------*/

.btn-2 {
    background: #EFD372;
    border: 1px solid #EFD372;
    border-radius: 16px;;
}

.jc-centre {
    justify-content: center;
}

/*----------------------Section-2-----------------------*/
.img-1 {
    background-image: url("./img/sec_2/img_2.jpg");
    background-position: left;
}

.img-2 {
    background-image: url("./img/sec_2/img_1.jpg");
    background-position: right;
}

.img-bg {
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 220px 15px 250px;
}

.m-l-r {
    margin-right: -60px;
    margin-left: -60px;
}

/*----------------------Section-3-----------------------*/

.h-w-100px {
    flex-basis: 100px;

}
.h-w-50px {
    flex-basis: 50px;
}

.m-l-20px {
    margin-left: 20px;
}

.btn-3 {
    background: #274C5B;
}
